
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Irish+Grover&family=Lavishly+Yours&family=Sigmar&family=Sofia&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
* a {
  color: black;
}
:root {
  --ColorPiel: #ffe6a5;
  --colorNaranja: #fabc3f;
  --colorNaranjaBajo: #fabc3fdb;
  --colorNaranjaHover: #e9a216;
  --colorNaranjaPastel: #ffbf61;
  --colorBlack: black;
  --colorAmarilli-Pastel: #fcf596;
  --hover2:#FFF2DB;
  --sombreado: 2px 3px 10px 1px rgba(0, 0, 0, 0.253);
  --sombreado2: 4px 3px 1px 1px rgba(0, 0, 0, 0.253);
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--ColorPiel);
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2rem;
  gap: 1rem;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header img{
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

header a:hover img {
  transform: scale(1.2);
}
.cv {
  width: 100px;
  height: 30px;
  font-family: "Federo", sans-serif;
  text-align: center;
  background-color: var(--colorNaranja);
  border-radius: 5px;
  border: none;
  padding: 5px;
  box-shadow: var(--sombreado2);
}
.cv:hover {
  background-color: var(--colorNaranjaHover);
}

.proyectos{
  width: 100%;
  height: auto;
  display: flex;
  margin: 2rem;
}
.div-proyects{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--sombreado2);
  background-color: var(--colorAmarilli-Pastel);
  cursor: pointer;
  border: 1px solid var(--colorBlack);
  gap: 1rem;
}
.div-proyects:hover{
  background-color: var(--hover2);
}
.div-proyects img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: var(--sombreado2);
}
.div-proyects h2{
  font-weight: 600;
}
.div-proyects p{
  text-align: justify;
}
.div-proyects a{
  text-decoration: underline;
}

@media screen and (max-width: 768px){
  .proyectos{
    flex-wrap: wrap;
  }
  .div-proyects{
    width: 100%
  }

}
